<div>
	<div class="alert alert-danger {{if isValidFileType 'hidden' 'show'}}" role="alert">
		Please upload a valid image file.
	</div>
	
	<div class="alert alert-danger {{if isEnoughSpaceForFile 'hidden' 'show'}}" role="alert">
		Please upload a smaller file.
	</div>
	<button type="button" class="btn btn-primary upload-file-btn">Upload image</button>
	{{input type="file" class="hidden input-upload-file"}} {{fileName}}
</div>