$sticker-library-width: 150px;

body  {
	background: #ccc;
}

.container {
	position: absolute;
	top:60px;
	left:0px;
	right:0px;
	bottom:20px;
}

@import "_photo_sticker_area.scss";
@import "_storage_bar.scss";
